div.prof {
    margin: .3em .0em;
    border-radius: 5px;
}
div.prof-data {
    margin: .3em .0em;
    border-radius: .4em;
}
button.btn {
    background-color: lightseagreen;
    border-radius: .5em;
    font-weight: bold;
}
div.card {
    text-align: center;
    margin: .5em 0em;
    border-radius: .4em;
    background-color: azure;
    /* white-space: nowrap; */
}
div.card.materia {
    text-align: center;
    background-color: lightgoldenrodyellow;
}
div.card.provas {
    text-align: center;
    font-size: 12pt;
}
h3{
    font-size: 12pt;
    font-weight: bold;
}
div.yellowbox{
    text-align: center;
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}
